body{
    background-color: black;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

ul {
display:flex;
justify-content: space-between;
list-style-type: none;
align-items: center;
padding: 16pix;

}

a{
    color: white;
    text-decoration: none;
}

.center{
    text-align: center;

}